.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000000;
    color: white;
  }
  .nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none; /* Add this line to remove default list styling */
    margin: 0; /* Add this line to remove default margin */
    padding: 0; /* Add this line to remove default padding */
  }

  .nav-links li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    transition: color 0.15s;
  }
  
  .nav-links li a:hover {
    color: #00bcd4;
  }


  .nav-buttons {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }

  .nav-buttons li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-buttons li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
  }
  